# Dependency directories
node_modules/

# TypeScript build output directory
dist/

# Visual Studio Code settings
.vscode/

# macOS system files
.DS_Store

# Log files
*.log

# Environment variables file
.env
